# =============================================================================
# Ansible Configuration
# =============================================================================


# -----------------------------------------------------------------------------
# General
# -----------------------------------------------------------------------------

[defaults]

# Default inventory location for this repository.
inventory = ./inventory

# Collection search path.
# Ansible expects:
#   ./ansible_collections/<namespace>/<collection>
collections_path = .

# Python interpreter path
interpreter_python = auto

# Maximum number of hosts Ansible can operate against concurrently.
forks = 10

# General connection timeout in seconds.
timeout = 30

# Do not generate .retry files after failed executions.
retry_files_enabled = False

# Control whether Ansible displays deprecation warnings.
deprecation_warnings = False


# -----------------------------------------------------------------------------
# Inventory
# -----------------------------------------------------------------------------

[inventory]

# Fail when a host pattern does not match any inventory hosts.
host_pattern_mismatch = error


# -----------------------------------------------------------------------------
# Persistent Network Connections
# -----------------------------------------------------------------------------

[persistent_connection]

# Maximum time, in seconds, to establish a persistent connection.
connect_timeout = 30

# Maximum time, in seconds, to wait for a network command to complete.
command_timeout = 60

# Maximum time, in seconds, to retry creation of the persistent connection.
connect_retry_timeout = 15


# -----------------------------------------------------------------------------
# SSH
# -----------------------------------------------------------------------------

[ssh_connection]

# Reduce the number of SSH operations required for module execution.
pipelining = True